fastapi==0.85.0
uvicorn==0.18.2
pandas==1.5.3
numpy<2
matplotlib==3.6.2
seaborn==0.11.2
scikit-learn==1.6.1
xgboost==1.6.2
joblib==1.4.2
transformers==4.26.1
langchain==0.0.142
shap==0.47.0
lime==0.2.0.1
kagglehub
